<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Postcode Search</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      [v-cloak] {
        display: none;
      }

      .page {
        margin-top: 30px;
        border: 2px solid #979797;
        border-radius: 3px;
        padding: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="app">
        <div class="page">
          <form @submit="handleRequest" v-cloak>
            <div class="form-group">
              <label for="exampleInputEmail1">Enter your postcoede</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                v-model="postcode"
              />
              <p v-if="errorMessage !== null" class="invalid-feedback">
                {{ errorMessage }}
              </p>
            </div>

            <p v-if="loading">Loading...</p>

            <button type="submit" class="btn btn-primary">Search</button>

            <hr />

            <h2>Addresses</h2>

            <div v-if="addresses.length === 0">
              <p>No addresses found</p>
            </div>
            <div v-else>
              <ul>
                <li v-for="address in addresses">{{ address.line1}}</li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
